*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:Open,Sans-serif;
}	
.container{
	width:96%;
	margin:0 auto;
}
.row{
	display:flex;
	flex-wrap:wrap;
	
}
.col-1{
	width:8.33%;
	padding:0 15px;
}
.col-2{
	width:16.66%;
	padding:0 15px;
}
.col-3{
	width:25%;
	padding:0 15px;
}
.col-4{
	width:33.33%;
	padding:0 15px;
}
.col-5{
	
	width:41.66%;
	padding:0 15px;
}
.col-6{
	width:50%;
	padding:0 15px;
}
.col-7{
	width:58.33%;
	padding:0 15px;
}
.col-8{
	width:66.66%;
	padding:0 15px;
}
.col-9{
	width:75%;
	padding:0 15px;
}
.col-10{
	width:83.33%;
	padding:0 15px;
}
.col-11{
	width:91.66%;
	padding:0 15px;
}
.col-12{
	width:100%;
	padding:0 15px;
}
body{
	background-color:black;
	color:white;
}
section{
	padding:20px 0;
}
h3{
	font-size:15px;
	color:grey;
	/* padding-top:10px; */
	font-weight:200;
	letter-spacing:1px;
}
.line h3::after{
	content:"";
	width:10%;
	height:1px;
	background-color:grey;
	display:inline-block;
	position:absolute;
    top:30px;
	left:90px;
}
.rupees p::before{
	content:"";
	width:75%;
	background-color:grey;
	display:inline-block;
	position:absolute;
	border-top:1px dotted white;
	top:51px;
	right:32px;
	/* overflow:hidden; */
}
 h1{
	font-size:30px;
	color:#c29b55;
	padding-top:12px;
	font-family: 'Playfair Display', serif;
	position:relative;
}
.type{
	display:inline-block;
	padding-left:40%;
	padding-top:30px;
}
.list{
	list-style:none;
	display:flex;
	gap:20px;
}
.list a{
	text-decoration:none;
	color:white;
	font-size:14px;
	font-family: 'Playfair Display', serif;
}
.clr > a{
	color:#c29b55;
}
.imges img{
	width:60px;
	height:60px;
	border-radius:50%;
	position:relative;
	left:0;
	border:4px solid grey;
}
h2{
	font-size:14px;
	padding-top:3px;
	display:inline-block;
	/* z-index:-1; */
	background-color:black;
}
h2:hover{
	color:#c29b55;
	cursor:pointer;
}
p{
	color:grey;
	padding-top:5px;
	font-style:italic;
}
.menu_sub{
	display:flex;
	z-index:1;
}	
.menu{
	display:flex;
	font-size:12px;
	padding-top:40px;
	position:relative;
	justify-content:space-between;
}
.name{
	padding-left:20px;
}
.rupees p{
	color:#c29b55;
}
